# Data Exploration

## Instructions
There are some data files related to transaction saved under the [data](../data) folder:
- Looking into the data using appropriate functions and extract the fields in the data.
- For each data, describe what the data is about and what fields are saved.

You need to answer the questions and perform the task below:
- How many transactions are in GBP?
- How many transactions are NOT in USD?
- What is the average and mediam transaction in USD?
- Construct a table showing the number of transactions in EACH currency

Note:
- You are NOT ALLOWED to import other library or package
- You can write you own functions
- Your answers should be readable with approprate comments
- You can refer to [markdown chestsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) if you are not familar with Markdown

## Import libraries

In [1]:
# Usual libraries are imported here
import os
import yaml
import dask.dataframe as dd
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Please perform your tasks below and answer the questions

In [2]:
# change workplace
os.chdir("../data/transactions")
os.getcwd()

'E:\\Jupyter\\wang\\task\\proj_v_explor_and_vis-master\\proj_v_explor_and_vis-master\\data\\transactions'

In [3]:
# read "currency_details.csv"
df_currency=pd.read_csv('../currency_details.csv',sep=',')
df_currency.head()

   CCY  EXPONENT  IS_CRYPTO
0  AED         2      False
1  AFN         2      False
2  ALL         2      False
3  AMD         2      False
4  ANG         2      False

In [4]:
# read "countries.csv"
df_countries = pd.read_csv('../countries.csv')
df_countries.head()

  CODE            NAME CODE3  NUMCODE  PHONECODE
0   AF     Afghanistan   AFG        4         93
1   AL         Albania   ALB        8        355
2   DZ         Algeria   DZA       12        213
3   AS  American Samoa   ASM       16       1684
4   AO          Angola   AGO       24        244

In [5]:
# read fraudsters.csv
df_fraudster = pd.read_csv('../fraudsters.csv')
df_fraudster.head()

                                USER_ID
0  5270b0f4-2e4a-4ec9-8648-2135312ac1c4
1  848fc1b1-096c-40f7-b04a-1399c469e421
2  27c76eda-e159-4df3-845a-e13f4e28a8b5
3  a27088ef-9452-403d-9bbb-f7b10180cdda
4  fb23710b-609a-49bf-8a9a-be49c59ce6de

In [6]:
# read users.csv
df_users = pd.read_csv('../users.csv')
df_users.head()

,ID,HAS_EMAIL,PHONE_COUNTRY,IS_FRAUDSTER,TERMS_VERSION,CREATED_DATE,STATE,COUNTRY,BIRTH_YEAR,KYC,FAILED_SIGN_IN_ATTEMPTS
0,1872820f-e3ac-4c02-bdc7-727897b60043,1,GB||JE||IM||GG,False,2018-05-25,2017-08-06 07:33:33.341000,ACTIVE,GB,1971,PASSED,0
1,545ff94d-66f8-4bea-b398-84425fb2301e,1,GB||JE||IM||GG,False,2018-01-01,2017-03-07 10:18:59.427000,ACTIVE,GB,1982,PASSED,0
2,10376f1a-a28a-4885-8daa-c8ca496026bb,1,ES,False,2018-09-20,2018-05-31 04:41:24.672000,ACTIVE,ES,1973,PASSED,0
3,fd308db7-0753-4377-879f-6ecf2af14e4f,1,FR,False,2018-05-25,2018-06-01 17:24:23.852000,ACTIVE,FR,1986,PASSED,0
4,755fe256-a34d-4853-b7ca-d9bb991a86d3,1,GB||JE||IM||GG,False,2018-09-20,2017-08-09 15:03:33.945000,ACTIVE,GB,1989,PASSED,0

In [7]:
df_trans = pd.read_csv('transactions.csv')
df_trans.head()
#print(len(df_trans))
## This csv stores information of currency transactions. 
## CURRENCY: type of the money
## AMOUNT: the total transations amount currency
## STATE: the transaction's state, completed or not
## CREATED_DATE: the time of the transaction happen
## MERCHANT_CATEGORY: where did the transaction happen, and what type this transaction belong to
## ENTRY_METHOD: 
## USER_ID: the person's ID who had the transaction
## TYPE: the payment method of the transaction
## SOURCE: 
## ID: id of the transaction
## AMOUNT_USD: how much is the transaction money(in USD)

,CURRENCY,AMOUNT,STATE,CREATED_DATE,MERCHANT_CATEGORY,MERCHANT_COUNTRY,ENTRY_METHOD,USER_ID,TYPE,SOURCE,ID,AMOUNT_USD
0,GBP,175,COMPLETED,2017-12-20 12:46:20.294,cafe,GBR,cont,8f99c254-7cf2-4e35-b7e4-53804d42445d,CARD_PAYMENT,GAIA,b3332e6f-7865-4d6e-b6a5-370bc75568d8,220
1,EUR,2593,COMPLETED,2017-12-20 12:38:47.232,bar,AUS,cont,ed773c34-2b83-4f70-a691-6a7aa1cb9f11,CARD_PAYMENT,GAIA,853d9ff8-a007-40ef-91a2-7d81e29a309a,2885
2,EUR,1077,COMPLETED,2017-12-20 12:34:39.668,NaN,CZE,cont,eb349cc1-e986-4bf4-bb75-72280a7b8680,CARD_PAYMENT,GAIA,04de8238-7828-4e46-91f1-050a9aa7a9df,1198
3,GBP,198,COMPLETED,2017-12-20 12:45:50.555,supermarket,GBR,cont,dc78fbc4-c936-45d3-a813-e2477ac6d74b,CARD_PAYMENT,GAIA,2b790b9b-c312-4098-a4b3-4830fc8cda53,249
4,EUR,990,COMPLETED,2017-12-20 12:45:32.722,NaN,FRA,cont,32958a5c-2532-42f7-94f9-127f2a812a55,CARD_PAYMENT,GAIA,6469fc3a-e535-41e9-91b9-acb46d1cc65d,1101

In [8]:
## how many transactions in GBP?
no_GBP = len(df_trans[df_trans['CURRENCY']=='GBP'])
print("%s transactions in GBP" % no_GBP)

339091 transactions in GBP

In [9]:
## how many transactions not in USD?
no_not_USD = len(df_trans[df_trans['CURRENCY']!='USD'])
print("%s transactions NOT in USD" % no_not_USD)

657109 transactions NOT in USD

In [10]:
## define a function to compute the amount of transaction of a particular kind of currency
def number_of_transactions(currency):
    num = len(df_trans[df_trans['CURRENCY']==currency])
    #print("%s transactions in %s" %(num,currency))
    return num

## Test function
number_of_transactions('GBP')

339091

In [34]:
## Construct a table of currency's transactions
# get all unique currency type
currencys = df_trans['CURRENCY'].unique()
numbers = [number_of_transactions(c) for c in currencys]
data = {'currency':currencys,
       'numbers':numbers}
df_table = pd.DataFrame(data)
print(df_table)
#print(currencys)
#print(numbers)

   currency  numbers
0       GBP   339091
1       EUR   264695
2       CHF     5761
3       HUF     1446
4       TRY      338
5       USD    31542
6       PLN    22362
7       LTC      137
8       RON     5837
9       DKK     1711
10      NZD      717
11      AUD     2110
12      INR      207
13      THB      690
14      NOK     2602
15      ZAR     1126
16      AED      847
17      SEK     1579
18      QAR       28
19      CAD     1463
20      ILS      522
21      SGD      487
22      ETH      197
23      BTC      283
24      CZK     1507
25      JPY      733
26      HKD      480
27      MAD      115
28      XRP       38

In [16]:
## Average transaction in USD
df = df_trans[['CURRENCY','AMOUNT']]
usd_df = df[df['CURRENCY']=='USD']
#usd_df
print("mean: %.2f"%usd_df[['AMOUNT']].mean())
print("median: %.2f"%usd_df[['AMOUNT']].median())

mean: 11598.75
median: 2000.00