# Data Exploration

## Instructions
There are some data files related to transaction saved under the [data](../data) folder:
- Looking into the data using appropriate functions and extract the fields in the data.
- For each data, describe what the data is about and what fields are saved.

You need to answer the questions and perform the task below:
- How many transactions are in GBP?
- How many transactions are NOT in USD?
- What is the average and mediam transaction in USD?
- Construct a table showing the number of transactions in EACH currency

Note:
- You are NOT ALLOWED to import other library or package
- You can write you own functions
- Your answers should be readable with approprate comments
- You can refer to [markdown cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) if you are not familar with Markdown

## Import libraries

In [1]:
# Usual libraries are imported here
import os
import yaml
import dask.dataframe as dd
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Please perform your tasks below and answer the questions

read country infomation

In [7]:


countries = pd.read_csv('../project_V/countries.csv')
countries.head(10)

  CODE                  NAME CODE3  NUMCODE  PHONECODE
0   AF           Afghanistan   AFG        4         93
1   AL               Albania   ALB        8        355
2   DZ               Algeria   DZA       12        213
3   AS        American Samoa   ASM       16       1684
4   AO                Angola   AGO       24        244
5   AI              Anguilla   AIA      660       1264
6   AG  Antigua and  Barbuda   ATG       28       1268
7   AR             Argentina   ARG       32         54
8   AM               Armenia   ARM       51        374
9   AW                 Aruba   ABW      533        297

In [9]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 5 columns):
CODE         225 non-null object
NAME         226 non-null object
CODE3        226 non-null object
NUMCODE      226 non-null int64
PHONECODE    226 non-null int64
dtypes: int64(2), object(3)
memory usage: 8.9+ KB

read currency infomation

In [13]:
currency = pd.read_csv('../project_V//currency_details.csv')
currency.head(10)

   CCY  EXPONENT  IS_CRYPTO
0  AED         2      False
1  AFN         2      False
2  ALL         2      False
3  AMD         2      False
4  ANG         2      False
5  AOA         2      False
6  ARS         2      False
7  AUD         2      False
8  AWG         2      False
9  AZN         2      False

## read transactions infomation (related to the task)

In [2]:
transactions = pd.read_csv('../project_V/transactions.csv')
transactions.head()

,CURRENCY,AMOUNT,STATE,CREATED_DATE,MERCHANT_CATEGORY,MERCHANT_COUNTRY,ENTRY_METHOD,USER_ID,TYPE,SOURCE,ID,AMOUNT_USD
0,GBP,175,COMPLETED,2017-12-20 12:46:20.294,cafe,GBR,cont,8f99c254-7cf2-4e35-b7e4-53804d42445d,CARD_PAYMENT,GAIA,b3332e6f-7865-4d6e-b6a5-370bc75568d8,220
1,EUR,2593,COMPLETED,2017-12-20 12:38:47.232,bar,AUS,cont,ed773c34-2b83-4f70-a691-6a7aa1cb9f11,CARD_PAYMENT,GAIA,853d9ff8-a007-40ef-91a2-7d81e29a309a,2885
2,EUR,1077,COMPLETED,2017-12-20 12:34:39.668,NaN,CZE,cont,eb349cc1-e986-4bf4-bb75-72280a7b8680,CARD_PAYMENT,GAIA,04de8238-7828-4e46-91f1-050a9aa7a9df,1198
3,GBP,198,COMPLETED,2017-12-20 12:45:50.555,supermarket,GBR,cont,dc78fbc4-c936-45d3-a813-e2477ac6d74b,CARD_PAYMENT,GAIA,2b790b9b-c312-4098-a4b3-4830fc8cda53,249
4,EUR,990,COMPLETED,2017-12-20 12:45:32.722,NaN,FRA,cont,32958a5c-2532-42f7-94f9-127f2a812a55,CARD_PAYMENT,GAIA,6469fc3a-e535-41e9-91b9-acb46d1cc65d,1101

In [18]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688651 entries, 0 to 688650
Data columns (total 12 columns):
CURRENCY             688651 non-null object
AMOUNT               688651 non-null int64
STATE                688651 non-null object
CREATED_DATE         688651 non-null object
MERCHANT_CATEGORY    223065 non-null object
MERCHANT_COUNTRY     483055 non-null object
ENTRY_METHOD         688651 non-null object
USER_ID              688651 non-null object
TYPE                 688651 non-null object
SOURCE               688651 non-null object
ID                   688651 non-null object
AMOUNT_USD           688651 non-null int64
dtypes: int64(2), object(10)
memory usage: 63.0+ MB

In [20]:
q1=transactions[transactions['CURRENCY'] == 'GBP']
print('the number of transactions in GBP is', len(q1))

the number of transactions in GBP is 339091

In [21]:
q2=transactions[transactions['CURRENCY'] != 'USD']
print('the number of transactions not in USD is', len(q2))

the number of transactions not in USD is 657109

In [6]:
q3=transactions[transactions['CURRENCY'] == 'USD']
print('the average of transaction in USD is ',np.mean(q3['AMOUNT']))
print('the median of transactions in USD is ',np.median(q3['AMOUNT']))

the average of transaction in USD is  11598.75470800837
the median of transactions in USD is  2000.0

In [28]:
q4=transactions.groupby('CURRENCY')
q4.size()

CURRENCY
AED       847
AUD      2110
BTC       283
CAD      1463
CHF      5761
CZK      1507
DKK      1711
ETH       197
EUR    264695
GBP    339091
HKD       480
HUF      1446
ILS       522
INR       207
JPY       733
LTC       137
MAD       115
NOK      2602
NZD       717
PLN     22362
QAR        28
RON      5837
SEK      1579
SGD       487
THB       690
TRY       338
USD     31542
XRP        38
ZAR      1126
dtype: int64