# German Loan Data

## Instructions

### Banking: Loan Approval Case
In this use case, each entry in the dataset represents a person who takes a credit loan from a bank. The learning task is to classify each person as either a good or bad credit risk according to the set of attributes.

You can find the data `german_credit_data.csv` saved under the [data](../data) folder:<br>
NOTE: At this point, **DO NOT check the reference website**
- Looking into the data using appropriate functions and extract the fields in the data.
- For each data, describe what the data is about and what fields are saved.
    - Which column contain continuous variables and which columns contain categorical variables?    

You need to answer the questions and perform the task below:
- What are mean age, mean credit amount, and duration?
- What are the major three purpose of loan?
- What is the majoriry loan taker? Male of female?

Note:
- You are NOT ALLOWED to import other library or package
- You can write you own functions
- Your answers should be readable with approprate comments
- You can refer to [markdown cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) if you are not familar with Markdown

### Reference
This dataset was sourced from Kaggle: https://www.kaggle.com/uciml/german-credit

The original source is: https://archive.ics.uci.edu/ml/datasets/Statlog+%28German+Credit+Data%29

## Import libraries

In [1]:
# Usual libraries are imported here
import os
import yaml
import dask.dataframe as dd
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Please perform your tasks below and answer the questions

In [3]:
credit = pd.read_csv('../project_V//german_credit_data.csv')
credit.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0,67,male,2,own,NaN,little,1169,6,radio/TV
1,1,22,female,2,own,little,moderate,5951,48,radio/TV
2,2,49,male,1,own,little,NaN,2096,12,education
3,3,45,male,2,free,little,little,7882,42,furniture/equipment
4,4,53,male,2,free,little,little,4870,24,car

In [5]:
len(credit)

1000

## The infomation of the data

The data contains the infomation of 1000 german users credit infomation <br>
Unnamed: 0: the unique index for each user.<br>
Age: the age of each user.<br>
Sex: the sex of each user.<br>
Job: the job kind for each user.<br>
Housing: housing situation for each user.<br>
Saving accounts: the situation of Saving accounts for each user.<br>
Checking account: the situation of Checking accounts for each user.<br>
Credit amount: the amount of credit for each user.<br>
Duration: The loan duration for each user.<br>
Purpose: the 从onsumption purpose for each user.<br>

Continuous variables: Unnamed、Age、Credit amount、Duration<br>
Categorical variables: Sex、Job、Housing、Saving accounts、Checking account 、Purpose

In [7]:
print("The mean age is",np.mean(credit['Age']))
print("The mean credit amount is",np.mean(credit['Credit amount']))
print("The mean duration is",np.mean(credit['Duration']))

The mean age is 35.546
The mean credit amount is 3271.258
The mean duration is 20.903

In [21]:
a=credit[['Unnamed: 0','Purpose']].groupby('Purpose').count()
a.sort_values('Unnamed: 0',ascending = False)

                     Unnamed: 0
Purpose
car                         337
radio/TV                    280
furniture/equipment         181
business                     97
education                    59
repairs                      22
domestic appliances          12
vacation/others              12

The major three purpose of loan is: car, radio/TV, furniture/equipment

In [22]:
a=credit[['Unnamed: 0','Sex']].groupby('Sex').count()
a.sort_values('Unnamed: 0',ascending = False)

        Unnamed: 0
Sex
male           690
female         310

Male is the majority loan taker.